project_id = "rrmvxsldrjgbdxluklka"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[auth]
enabled = true
port = 54324
site_url = "http://localhost:3000"
additional_redirect_urls = ["https://rrmvxsldrjgbdxluklka.supabase.co"]
jwt_expiry = 3600
enable_signup = true

[db]
port = 54322

[storage]
enabled = true
port = 54323
buckets = []

[edge_runtime]
enabled = true
port = 54325

[analytics]
enabled = false

[functions.ai-assistant]
verify_jwt = false

[functions.automated-monitoring]
verify_jwt = false

[functions.automated-workflow]
verify_jwt = false

[functions.batch-email-test]
verify_jwt = false

[functions.generate-media]
verify_jwt = false

[functions.send-campaign-emails]
verify_jwt = false

[functions.opravo-integration]
verify_jwt = false

[functions.on-project-connection]
verify_jwt = false

[functions.sofinity-api]
verify_jwt = false

[functions.opravo-status]
verify_jwt = false

[functions.sofinity-opravo-status]
verify_jwt = false

[functions.opravo-email-metrics-sync]
verify_jwt = false

[functions.email-events-ingest]
verify_jwt = false

[functions.send-email-resend]
verify_jwt = false

[functions.insert_opravo_job]
verify_jwt = false

[functions.sofinity-event]
verify_jwt = false

[functions.register-onemill-project]
verify_jwt = false

[functions.storage-soft-rollback]
verify_jwt = false